# ROCK Pi S erlinit configuration

-c ttyS0
--warn-unused-tty
-s "/usr/bin/nbtty"

-e LANG=en_US.UTF-8;LANGUAGE=en;ERL_INETRC=/etc/erl_inetrc
-e ERL_CRASH_DUMP=/root/erl_crash.dump;ERL_CRASH_DUMP_SECONDS=5

# erlinit restores its persistent random seed from /root/seedrng. Mount the
# application partition before it does so. nerves_runtime will repair or
# format this filesystem if the mount fails.
-m /dev/mmcblk2p4:/root:ext4:nodev:

-r /srv/erlang
-d /usr/bin/boardid
-n nerves-%-.8s
--boot shoehorn
